spring:
  application:
    name: kiosk-system

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:h2:mem:kioskdb}
    username: ${SPRING_DATASOURCE_USERNAME:sa}
    password: ${SPRING_DATASOURCE_PASSWORD:password}

  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    show-sql: true
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080
  tomcat:
    max-part-count: 100

logging:
  file:
    name: logs/kiosk-application.log
  level:
    root: INFO
    com.wheezybaton.kiosk_system: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: INFO